/*
 *= require_self
*/

@import "extras/variables";

@font-face {
    font-family: 'Proxima Nova Regular';
    src: asset-url('proxima-nova-regular.eot');
    src: asset-url('proxima-nova-regular.eot?') format('embedded-opentype'),
    	asset-url('proxima-nova-regular.woff') format('woff'),
    	asset-url('proxima-nova-regular.svg') format('svg'),
    	asset-url('proxima-nova-regular.ttf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body { background-color: $white; color: $text_gray; -webkit-font-smoothing: antialiased; overflow-x: hidden; text-rendering: optimizeLegibility; font-family: 'Proxima Nova Regular'; min-width: 320px; margin: 0; font-size: 13px;}

::-webkit-scrollbar { width: 2px; height: 2px; }
::-webkit-scrollbar-track { -webkit-border-radius: 2px; border-radius: 2px; }
::-webkit-scrollbar-thumb { -webkit-border-radius: 2px; border-radius: 2px; background: rgb(127, 140, 141); }
::-webkit-scrollbar-thumb:window-inactive { background: rgb(127, 140, 141); }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none; -webkit-appearance:none;
}

nav { background: $white;
	.nav { height: 40px; padding: 7.5px;
		&.top-nav { border-bottom: 2px solid transparent; border-image: linear-gradient(to right, $m-purple, $l-blue); border-image-slice: 1;
                display: grid; grid-template-columns: 2fr 1fr;
			.logo { height: 25px;
				img { height: 100%; }
				span { color: $m-purple; font-weight: 600; margin: 4px; }
			}

      .log_out { text-align: right; padding: 5px;
        a { color: #9c7bc1;}
      }
		}
		&.middle-nav { padding: 0 30px; background-color: $l-gray; border-bottom: $border-m-gray;
      .page-selected { height: 100%; padding: 5px; width: 250px; float: left; cursor: pointer;
        img { height: 100%; width: auto; border-radius: 5px; }
        span { width: 180px; display: inline-block; vertical-align: top; margin: 8px; color: #69778c; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
      }
			.page-widget { position: absolute; z-index: 9999; display: none; height: calc(100% - 42px); width: 250px; overflow-y: scroll; list-style: none; margin: 0; padding: 0; background-color: #f7f8fb; border: $border-m-gray;
				li { height: 25px; padding: 7px 5px; transition: background-color 0.5s; cursor: pointer;
          img { height: 100%; width: auto; border-radius: 5px; }
  				span { width: 180px; display: inline-block; vertical-align: top; margin: 5px; color: #69778c; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

          &:hover { background-color: #e7ebf3; }
        }
        &::-webkit-scrollbar { display: none; }
			}
		}
		&.bottom-nav { padding: 0 15px; border-bottom: $border-m-gray;
			ul { margin: 0; padding: 0; list-style: none;
        a { outline: none; }
        li.tag-search-btn { float: right;
          i { margin-right: 5px; }
        }
        li { display: inline-block; padding: 11px 10px; margin: 0 5px; transition: color 0.5s;
          a, i { color: #ccc; }
          &.active { border-bottom: 1px solid $d-purple; 
            a, i { color: $d-purple; }

            ul.sub { position: absolute; margin-top: 12px; margin-left: -10px; background: $white; border: $border-m-gray;
              li { display: block; cursor: pointer; padding: 10px 35px; margin: 0;
                &.active, &:hover { border: none; color: $d-purple; background-color: $l-gray; }
              }
            }
          }
          &:hover { border-bottom: 1px solid $d-purple; }
				}
			}
		}
	}
}

.main { max-width: 768px; margin: 0 auto; display: none; }
.tag-search { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(255,255,255,0.9); display: none;
  .tag-header, .tag-results { padding: 15px 50px; }
  .tag-header { border-bottom: $border-l-gray;
    .close-search { float: right; font-size: 22px; cursor: pointer;}
    .logo { width: 40px;
      img { width: 100%; }
    }
    #search-val { border: none; background-color: transparent; font-size: 68px; outline: none; font-weight: 600;
      &::placeholder { font-weight: 100; }
    }
    .instructions { padding: 15px 0;
      select.tag-date { float: none; margin-right: 25px; }
      p { display: inline-block; margin: 0;}
    }
  }
  .tag-results { overflow: scroll; height: calc(100% - 196px);
    .message { display: grid; grid-template-columns: auto 100px; border-bottom: 1px solid #eef1f6; padding: 10px; min-height: 65px;
      .question { width: 75%; padding: 5px; border-radius: 5px; font-size: 11px;
        img { width: 30px; }
        p { margin: 1px 0 0; }
      }
      .question { display: grid; grid-template-columns: 40px auto;
        i { color: #9c7bc1; font-size: 24px; margin: 12px 0; }
        span#highlight { background-color: #e1d0ff; font-weight: 600; }
      }
      .extras { padding: 5px 10px;
        time, i { display: block; }
        time.timeago { font-size: 11px; color: #c5c5c5; }
        a { color: #c5c5c5; font-size: 16px; transition: color 1s;
          i { margin-top: 10px; }
          &:hover { color: #69778c; }
        }
      }
    }
    #no-content { text-align: center; margin-top: 20%; font-size: 42px; color: #ccc; }
  }
}

.error { text-align: center; margin-top: 150px; }

.loader { opacity: 0.5; width: 100%;
  img { display: block; margin: auto; height: 100px; margin-top: 200px;}
}